@using EventsITAcademy.Application.Events.Responses
@model IEnumerable<EventResponseModel>
<head>
    <link href="~/css/events.css" rel="stylesheet" />
</head>

<partial name="_Notification" />
@if(Model.Count() > 0){
    @if (Model.ElementAt(0).IsArchived)
    {
        <h1>Archived Events</h1>
    }
    else if (Model.ElementAt(0).IsActive)
    {
        <h1>Active Events</h1>
    }
    else
    {
        <h1>Pending Events</h1>
    }
}
else{
    <h1>There are no events in this category</h1>
}

<hr />

<div class="grid">
    @foreach (var @eventModel in Model)
    {

        <partial name="_AdminEvent" model="@eventModel" />

    }
</div>